*{
    margin: 0;
    padding: 0;
}
.container{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(174, 18, 44, 0.851);
    font-size: 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    /* padding-left: 15px; */
}
a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    /* padding-right: 5px; */
}
header a:hover{
    background-color: darkslateblue;
    
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: rgba(23, 22, 22, 0.949);
    color: antiquewhite;
}
.body h4{
    font-size: 30px;
    padding-bottom: 5px;
}
.body p{
    font-style: italic;
    text-align: center;
    color: rgba(174, 18, 44, 0.851);
}
.projects{
    height: 700px;
    background-color: antiquewhite;
    text-align: center;
    /* color: rgba(23, 22, 22, 0.949); */
}
.projects h5{
    color: rgba(23, 22, 22, 0.949);
    display: inline-block;
    padding-top: 50px;
    font-size: 25px;
    border-bottom: 2px solid rgba(174, 18, 44, 0.851);
}

.lastly{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 38, 38);
    color: antiquewhite;
    /* padding: 5px; */
}
.lastly h4{
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}
.italic{
    font-size: 11px;
    font-style: italic;
    text-align: center;
    opacity: 0.7;
    padding-bottom: 30px;
}
.icon_fb, .icon_tw, .icon_gh, .icon_mail, .icon_call{
    display: flex;
    padding: 8px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.icon_fb:hover, .icon_tw:hover, .icon_gh:hover, .icon_mail:hover, .icon_call:hover{
    transform: translateY(5px);
}
a div p{
    font-size: 12px;
}
.icons{
    display: flex;
    /* padding: 0 20px; */
    /* padding-right: 10px; */
}
.icons i{
    padding-right: 4px;
}
footer{
    background-color: rgb(42, 38, 38); ;
    color: antiquewhite;
    border-top: 2px solid rgba(174, 18, 44, 0.851);;
    display: flex;
    font-size: 10px;
    height: 50px;
    align-items: center;
}
